.slid {
    margin-top: 20px;
}

.card {
    margin: 0  10px;
}

 
#viewport {
    width: 100%;
    height: 400px;
    overflow: hidden;
}
 
.slider {
    position: relative;
    transition: 500ms;
    width: calc(20% * 10);
    height: 400px; 
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
}
 
.slide {
    width: 100%;
    height: 400px;
}
 
.slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 0;
}
 
#viewSlider {
    width: calc(30px * 5);
    display: flex;
    justify-content: space-between;
    
}
 
.viewSlide {
    width: 10px;
    height: 10px;
    background-color: gray;
    border-radius: 100%;
}

.nonedec {
    text-decoration: none;
    color: black;
}